<div class="album text-muted">
  <div class="container">
    <div class="row sortable">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>     <!-- Manual Data collection requires dev to direct Rails to the portfolio and collection looking to be accessed. -->
    </div>
  </div>
</div>
