<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean
      lacinia bibendum nulla sed consectetur.</p>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><%= link_to (fa_icon "github"), "http://www.github.com/SmithWebDev" %></li>
      <li><%= link_to (fa_icon "twitter"), "http://www.twitter.com/SmithWebDev" %></li>
      <!-- <li><%# link_to (fa_icon "facebook"), "http://www.facebook.com" %></li> -->
      <li><%= link_to (fa_icon "instagram"), "http://www.instagram.com/TheSmithTreatment" %></li>
    </ol>
  </div>
</div>