<div class=" <%= location %> ">    <!--Location adds additional dynamic variable that will allow for custom CSS class -->
  <div>
    
  </div>
  <div>
    
  </div>
  <div>
    
  </div>
  <div>
    
  </div>
  <div>
    
  </div>

</div>

