<div class="inner cover">
  <h1 class="cover-heading">The Smith Treatment</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dolorem rerum eius asperiores exercitationem ex! Nam hic odio porro magni sed consequatur tempora non tenetur corporis eveniet. Unde qui quasi impedit facilis recusandae? Eos, voluptates?</p>
  <!-- <p class="lead">
    <%# link_to  "Learn more", about_path, class: "nav-link", class: "btn btn-lg btn-secondary" %>
  </p> -->
</div>