<!-- <div class="inner cover"> -->
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Your business deserves The Smith Treatment. Providing our clients with solutions that increases your bottom line and extends your reach in this digital age.</p>
  <p class="lead">
    <%= link_to  "Learn more", about_path, class: "nav-link", class: "btn btn-lg btn-secondary" %>
  </p>
<!-- </div> -->
